@model Offshore3.BugTrack.ViewModels.AddEditBugViewModel

<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<form class="form-horizontal" id="AddForm">
    <input type="hidden" name="ProjectId" value="@Model.ProjectId"/>
    <div class="control-group">
        <label class="control-label">Name:</label>
        <div class="controls">
            <input type="text" id="AddBugName" name="BugName"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Description:</label>
        <div class="controls">
            <textarea name="Description" id="txtDescription">
                
            </textarea>
        </div>
    </div>

    <hr />

    <div class="control-group">
        <label class="control-label"><a href="#" id="btnUp">Upload Attachment</a></label>
        <div class="controls" id="divUpload">
        </div>
    </div>
    
    <hr/>
    
    <div class="control-group">
        <label class="control-label">Status:</label>
        <div class="controls">
            <input type="text" name="BugStatusName" id="BugStatusName"/>
            @if (Model.BugStatusNames.Count > 0)
            {
                <select id="selStatuses">
                @foreach (string name in Model.BugStatusNames)
                {
                      <option value="@name">@name</option>
                }
                </select>
            }
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Assign to:</label>
        <div class="controls">
            <select id="selAssigner" name="AssignerId">
                @foreach (var m in Model.Members)
                {
                    <option value="@m.Key">@m.Value</option>
                }
            </select>
        </div>
    </div>

    <hr />
    
    <div>
        <a class="btn lBtn" id="btnSave">Save</a>
        <button class="btn rBtn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</form>
<style>
    .lBtn { margin-left: 150px; }

    .rBtn { margin-left: 100px; }

    #AddForm { margin-top: 50px; }
</style>
<script>
    $(function() {
        new AjaxUpload($('#btnUp'), {
            action: '@Url.Action("BugAttachment", "Upload",new {bugId=0})',
            name: 'BugAttachment',
            type: 'POST',
            responseType: 'json',
            autoSubmit: true,
            onChange: function(file, ext) {
                if (!(ext && /^(jpg|jpeg|JPG|JPEG|doc|docx|pdf|txt|xls|ppt)$/.test(ext))) {
                    alert('format error!', 'system');
                    return false;
                }
            },
            onComplete: function(file, response) {
                if (response.Status) {
                    $('#divUpload').load('@Url.Action("BugAttachments", "Bug",new {bugId=0})');
                }
            }
        });
    });
    $('#selStatuses').bind('change', function () {
        $('#BugStatusName').val($('#selStatuses').val());
    });
   
    $('#btnSave').bind('click', function () {
        if ($('#AddBugName').val() == '') {
            alert('Bug name is required');
            $('#AddBugName').focus();
            return false;
        }
        if ($('#BugStatusName').val() == '') {
            alert('Status is required');
            $('#BugStatusName').focus();
            return false;
        }
        $.ajax({
            url: '@Url.Action("AddIssue", "Bug")',
            type: 'post',
            data: $('#AddForm').serializeJson(),
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.Status) {
                    $('#AddIssueDiv').modal('hide');
                    $('#mainBody').load('@Url.Action("Grid", "Bug", new {projectId = Model.ProjectId})');
                } else {
                    alert('add failed,Please try again');
                }
            }
        });
    });
</script>
