@model Offshore3.BugTrack.ViewModels.AddEditIssueViewModel

<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<form class="form-horizontal" id="EditIssueForm">
    <input type="hidden" name="ProjectId" value="@Model.ProjectId"/>
    <input type="hidden" name="BugId" value="@Model.IssueViewModel.BugId">
    <div class="control-group">
        <label class="control-label">Name:</label>
        <div class="controls">
            <input type="text" id="EditBugName" name="BugName" value="@Model.IssueViewModel.BugName"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Description:</label>
        <div class="controls">
            <textarea name="Description" id="txtDescription">
                @Model.IssueViewModel.Description
            </textarea>
        </div>
    </div>

    <hr />

    <div class="control-group">
        <label class="control-label"><a href="#" id="btnUp">上传附件</a></label>
        <div class="controls" id="divUpload">
            @Html.Action("BugAttachments", "Bug", new {bugId = Model.IssueViewModel.BugId})
        </div>
    </div>
    
    <hr/>
    
    <div class="control-group">
        <label class="control-label">Status:</label>
        <div class="controls">
            <input type="text" name="BugStatusName" id="BugStatusName" value="@Model.IssueViewModel.BugStatusName"/>
            @if (Model.BugStatusNames.Count > 0)
            {
                <select id="selStatuses">
                @foreach (string s in Model.BugStatusNames)
                {
                    if (Model.IssueViewModel != null && s == Model.IssueViewModel.BugStatusName)
                    {
                        <option value="@s" selected="selected">@s</option>
                    }
                    else
                    {
                        <option value="@s">@s</option>
                    }
                }
                </select>
            }
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Assign to:</label>
        <div class="controls">
            <select id="selAssigner" name="AssignerId">
                @foreach (var m in Model.Members)
                {
                    if (Model.IssueViewModel != null && m.Key == Model.IssueViewModel.AssignerId)
                    {
                        <option value="@m.Key" selected="selected">@m.Value</option>
                    }
                    else
                    {
                        <option value="@m.Key">@m.Value</option>
                    }
                }
            </select>
        </div>
    </div>

    <hr />
    <div class="control-group">
        <label class="control-label">Bug Comments</label>
        <div class="controls">
            <div id="divComments">
                @Html.Action("Comments", "Bug", new {bugId = Model.IssueViewModel.BugId})
            </div>
            <textarea id="txtContent">

            </textarea>
            <br />
            <a class="btn" id="btnAddComment">Add comment</a>
        </div>
    </div>

    <hr />

    <div>
        <a class="btn lBtn" id="btnEditSave">Save</a>
        <button class="btn rBtn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</form>
<style>
    .lBtn { margin-left: 150px; }

    .rBtn { margin-left: 100px; }

    #EditIssueForm { margin-top: 50px; }
</style>

<script>
    $('#selStatuses').bind('change', function () {
        $('#BugStatusName').val($('#selStatuses').val());
    });
    var commentUrl = '@Url.Action("BugAttachments", "Bug", new {bugId = Model.IssueViewModel.BugId})';
    $(function() {
        new AjaxUpload($('#btnUp'), {
            action: '@Url.Action("BugAttachment", "Upload", new {bugId = Model.IssueViewModel.BugId})',
            name: 'BugAttachment',
            type: 'POST',
            responseType: 'json',
            autoSubmit: true,
            onChange: function(file, ext) {
                if (!(ext && /^(jpg|jpeg|JPG|JPEG|doc|docx|pdf|txt|xls|ppt)$/.test(ext))) {
                    alert('format error!', 'system');
                    return false;
                }
            },
            onComplete: function(file, response) {
                if (response.Status) {
                    $('#divUpload').load('@Url.Action("BugAttachments", "Bug", new {bugId = Model.IssueViewModel.BugId})');
                }
            }
        });
        $('#btnAddComment').bind('click', function () {
            if ($('#txtContent').val() == '') {
                return false;
            }
            $.ajax({
                url: '@Url.Action("AddComment","Bug")',
                type: 'post',
                data: { content: $('#txtContent').val(), bugId:'@Model.IssueViewModel.BugId'},
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.Status) {
                        $('#divComments').load('@Url.Action("Comments", "Bug", new {bugId = Model.IssueViewModel.BugId})');
                        $('#txtContent').val('');
                    } else {
                        alert('add comment failed');
                    }
                }
            });
        });
        $('#btnEditSave').bind('click', function () {
            if ($('#EditBugName').val() == '') {
                alert('Bug name is required');
                $('#EditBugName').focus();
                return false;
            }
            $.ajax({
                url: '@Url.Action("EditIssue","Bug")',
                type: 'post',
                data: $('#EditIssueForm').serializeJson(),
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.Status) {
                        $('#EditIssueDiv').modal('hide');
                        $('#mainBody').load('@Url.Action("Grid", "Bug", new {projectId = Model.ProjectId})');
                    } else {
                        alert('save failed,Please try again');
                    }
                }
            });
        });
    });
</script>
<style>
    
</style>