@model Offshore3.BugTrack.ViewModels.CreateProjectViewModel

@using (Html.BeginForm(
    "CreateProject",
    "Project",
    FormMethod.Post,
    new { @class = "form-horizontal" }
    ))
{
    <div id="CreateProject">
        <div class="control-group">
            @Html.LabelFor(m => m.ProjectName, new {@class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m=>m.ProjectName)
                @Html.ValidationMessageFor(m => m.ProjectName, string.Empty, new { @class = "ErrorMessage" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Description, new {@class = "control-label"})
            <div class="controls">
                @Html.TextAreaFor(m => m.Description)
            </div>
        </div>
        <hr />
                <div>
                    <input type="submit" class="btn lBtn" value="Submit" />
                    <a class="btn rBtn" href="@Url.Action("Index", "Project")">Cancel</a>
                </div>
    </div>
}
<style>
    #CreateProject {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        border: 1px solid grey;
        padding-top: 40px;
        padding-bottom: 20px;
        margin-top: 50px;
    }

    .lBtn{ margin-left: 150px;}

    .rBtn{ margin-left: 50px;}
</style>


