@using Offshore3.BugTrack.Common
@using Offshore3.BugTrack.ViewModels
@model IndexViewModel
<style>
    #main{ width: 1024px;margin-left: auto;margin-right: auto;}
</style>
<div id="main">
<a class="btn" href="@Url.Action("CreateProject","Users")">Create New Project</a>
<table class="table table-bordered table-striped">
    <caption>All Projects</caption>
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projectViewModel in Model.ProjectViewModels)
        {
            <tr>
                <td>
                    @if (projectViewModel.RoleId != RoleConfig.Participant)
                    {
                        <a href="@Url.Content("~/Project/Details/" + projectViewModel.ProjectId)">@projectViewModel.ProjectName</a>
                    }
                    else
                    {
                        @projectViewModel.ProjectName
                    }
                </td>
                <td>@projectViewModel.Description</td>
                <td>@projectViewModel.CreatorName</td>
                <td>
                    @if (projectViewModel.RoleId != RoleConfig.Participant)
                    {
                        <a href="@Url.Content("~/Project/Details/" + projectViewModel.ProjectId)">Settings</a>
                    }
                    @if (projectViewModel.RoleId == RoleConfig.Creator)
                    {
                        <a href="#">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>